/* The main elements */
body {
  background-color: #E9EFF5;
  font-size: 16px;
}

img {

}

h1 {

}

p {

}

button {
  border: none;
}

/* id's */
#social-wrapper {
  margin: 0 auto;

  width: 75%;
}

/* classes */

/* fonts */
.text-center {
  text-align: center;
}

.underline {
  border-bottom: 1px solid #EAEBEC;
  padding-bottom: 10px;
}

/* positioning */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* boxes */

.box-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 54px 20px 35px;
  width: 350px
}

.box-top_left {
  left: 0;
  top: 50px;
}

.box-top_right {
  right: 0;
  top: 50px;
}

.box-bottom_left {
  left: 0;
  top: 425px;
}

.box-bottom_right {
  right: 0;
  top: 425px;
}

/* icons */
.icon-top {
  top: -50px;
}

.icon-middle {
  left: 135px;
}

/* button */
.add-btn {
  margin: 15px 0 0 15px;
  padding: .5em 6em;
}

.add-btn_large {
  background-color: #FF4647;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
