@font-face {
  font-family: 'Myriad Pro Light';
  src: url("fonts/MyriadPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-Light.woff") format("woff"), url("fonts/MyriadPro-Light.ttf") format("truetype"), url("fonts/MyriadPro-Light.svg#a99616dbb054e76c282c87b27678ee84") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

/* The main elements */
body {
  background-color: #E9EFF5;
  font-family: 'Myriad Pro Light';
  font-size: 16px;
  margin: 0;
  padding: 0; }

header {
  background: #35B298;
  border-bottom: 1px solid #000;
  display: block;
  margin: 0;
  padding: 1.25em; }

section {
  background: #F5F5F5;
  padding: 1em;
  border-bottom: 1px solid #444; }

h1, h3 {
  margin: 0; }

button {
  border: none; }

/* id's */
#social-wrapper {
  margin: 3em auto;
  width: 75%; }

/* classes */
/* fonts */
.social-h1 {
  margin-top: 1em; }

.text-center {
  text-align: center; }

.underline {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px; }

.box-content {
  margin: 0;
  padding: 0; }

.box-content:first-of-type {
  margin-top: 1em; }

/* positioning */
.float-left {
  float: left; }

/* boxes */
.box-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 35px 20px 35px;
  width: 350px; }

.box-margin {
  margin: 3em 3em 3em 0; }

.box-margin:nth-child(even) {
  margin-right: 0; }

/* icons */
.social-icons {
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  height: 100px;
  margin-top: -100px;
  margin-left: 127px;
  width: 100px; }

.icon-facebook {
  background-position: 0 0; }

.icon-twitter {
  background-position: -200px -100px; }

.icon-linkedin {
  background-position: -100px -100px; }

.icon-pinterest {
  background-position: -100px -200px; }

/* button */
.add-btn {
  margin: 15px 0 0 15px;
  padding: .5em 6em; }

.add-btn_large {
  background-color: #FF4647;
  color: #fff;
  font-size: 16px;
  line-height: 30px; }

.social {
  background: #428BCA;
  color: #ffffff;
  height: 30px;
  margin: 1em .4em 0 .4em;
  padding: .75em;
  text-align: center;
  width: 39.384615%; }

/* select box */
.social-select {
  float: right;
  margin-top: -25px; }
