/* The main elements */
body {
  background-color: #E9EFF5;
  font-size: 16px; }

button {
  border: none; }

/* id's */
#social-wrapper {
  margin: 0 auto;
  width: 75%; }

/* classes */
/* fonts */
.text-center {
  text-align: center; }

.underline {
  border-bottom: 1px solid #EAEBEC;
  padding-bottom: 10px; }

/* positioning */
.float-left {
  float: left; }

/* boxes */
.box-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 35px 20px 35px;
  width: 350px; }

.box-margin {
  margin: 3em 3em 3em 0; }

.box-margin:nth-child(even) {
  margin-right: 0; }

/* icons */
.social-icons {
  margin-top: -100px;
  margin-left: 120px; }

/* button */
.add-btn {
  margin: 15px 0 0 15px;
  padding: .5em 6em; }

.add-btn_large {
  background-color: #FF4647;
  color: #fff;
  font-size: 16px;
  line-height: 30px; }
